In [1]:
import os
os.getcwd()

'D:\\been\\DASTAR\\two'

In [2]:
import plotly.offline as pyo
import plotly.graph_objs as go

In [3]:
import numpy as np
import pandas as pd

In [4]:
np.random.seed(42)
random_x = np.random.randint(1,101,100)
random_y = np.random.randint(1,101,100)

In [5]:
data = [go.Scatter(x = random_x,
                  y = random_y,
                  mode = 'markers',
                  marker = dict(
                  size=12,
                  color='rgb(51,204,153)',
                  symbol='pentagon',
                  line={'width':2}))]

In [6]:
layout = go.Layout(title = 'Hello', 
                  xaxis = {'title': 'My X AXIS'},
                  yaxis = dict(title = 'My Y AXIS'),
                  hovermode = 'closest')

In [7]:
fig = go.Figure(data = data, layout=layout)
pyo.plot(fig)

'file://D:\\been\\DASTAR\\two\\temp-plot.html'

In [8]:
#Line

In [9]:
np.random.seed(56)
x_values = np.linspace(0,1,100)
y_values = np.random.randn(100)

In [10]:
trace0 = go.Scatter(x=x_values,
                   y=y_values,
                   mode='markers',
                   name='markers'
                   )
trace1 = go.Scatter(x=x_values,
                   y=y_values+5,
                   mode='lines',
                   name='lines'
                   )
trace2 = go.Scatter(x=x_values,
                   y=y_values-5,
                   mode='lines+markers',
                   name='lines+markers'
                   )
data = [trace0, trace1, trace2]

In [11]:
layout = go.Layout(title='Line Chart')

In [12]:
fig = go.Figure(data = data, layout=layout)
pyo.plot(fig)

'file://D:\\been\\DASTAR\\two\\temp-plot.html'

In [13]:
df = pd.read_csv('data/us_pop_10_17.csv')
df.head()

,NAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
0,Connecticut,3580171.0,3591927.0,3597705.0,3602470.0,3600188.0,3593862.0,3587685.0,3588184.0
1,Maine,1327568.0,1327968.0,1328101.0,1327975.0,1328903.0,1327787.0,1330232.0,1335907.0
2,Massachusetts,6564943.0,6612178.0,6659627.0,6711138.0,6757925.0,6794002.0,6823721.0,6859819.0
3,New Hampshire,1316700.0,1318345.0,1320923.0,1322622.0,1328684.0,1330134.0,1335015.0,1342795.0
4,Rhode Island,1053169.0,1052154.0,1052761.0,1052784.0,1054782.0,1055916.0,1057566.0,1059639.0

In [14]:
df.set_index('NAME', inplace=True)
data = [go.Scatter(x=df.columns,
                  y=df.loc[name],
                  mode='lines',
                  name=name) for name in df.index]

In [15]:
pyo.plot(data)

'file://D:\\been\\DASTAR\\two\\temp-plot.html'

In [18]:
df2 = pd.read_csv('data/2018WinterOlympics.csv')
df2.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [20]:
trace0 = go.Bar(x=df2['NOC'],
              y=df2['Gold'],
              marker={'color':'#FFD700'},
              name='Gold')
trace1 = go.Bar(x=df2['NOC'],
              y=df2['Silver'],
              marker={'color':'#9EA0E1'},
              name='Silver')
trace2 = go.Bar(x=df2['NOC'],
              y=df2['Bronze'],
              marker={'color':'#CD7F32'},
              name='Bronze')
data = [trace0,trace1,trace2]

In [21]:
layout = go.Layout(title='Modals',
                  barmode='stack')
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

'file://D:\\been\\DASTAR\\two\\temp-plot.html'